body {
    background: 	#000000;
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.item {
    background: #000000da;
    padding: 15px;
    border: 3px solid #8700FF;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
}