*{ /*isso é padrão*/
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: 	#000000;
    color: white;
    font-family: 'Lato', sans-serif;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* ------------------------------------------------- */

span#burguer{
    display: block;
    justify-content: flex-end;
    font-size: 38px;
}

span#burguer:hover{
    color: white;
    cursor: pointer;
}

.box{
    display: flex;
    justify-content: end;
}
.menu1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.lista{
    list-style: none;
}

#burguer {
    z-index: 999;
    position: absolute;
}

#itens{
    display: none;
    place-content: center;
}

nav{
    display: flex;
    align-items: center;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav ul li a:hover{
    background-color: gray;
}

@media(min-width:1024px) {
    
    .menu1 {
        display: flex;
        justify-content: space-between;
        margin: 0;
    }
    
    .box{
        display: none;
    }

    #itens{
        display: block !important;
        width: 40%;

    }

    .lista {
        text-align: center;

    }

    nav {
        height: 20px;
        position: relative;
    }

    nav ul{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    
    nav ul li a{
        display: block;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.733);
        color: white;
        border-top: none;
        list-style-type: none;
        text-decoration: none;
    }

}

/* ------------------------------------------------- */

.menu_header{
    background-color: #0000001a;
    padding: 6px;
}

.container{
    display: flex;
    flex-direction: column;
    margin:0 auto;
    max-width: 800px;
    padding-top: 40px;
}

.img_ft{
    width: 110px;
}

.my_ft{
    border-radius: 50%;
    margin-bottom: 15px;
    align-items: center;
    width: 100px;
}

.post1{
    display: flex;
    background: #00000063;
    padding: 15px;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    gap: 50px;
    max-width: 800px;
    margin: 0 auto;

}


.grid1 {
    display: flex;
    gap: 30px;
}

@media(max-width:1024px) {

    .post1 {
        flex-direction: column;
        gap: 30px;
    }

    .grid1 {
        flex-direction: column ;
    }
}

.icons {
    padding-top: 55px;
    padding-bottom: 40px;
}

.icons1 {
    transform: translatey(0px);
    animation: float 3.5s ease-in-out infinite;
}

.icons2 {
    transform: translatey(0px);
    animation: float 4.1s ease-in-out infinite;
}

.icons3 {
    transform: translatey(0px);
    animation: float 3.2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-30px);
    }
    100% {
        transform: translatey(0px);
    }
}

/* ------------------------------------------------- */

.post2 {
    background: #000000c5;
    padding: 15px;
    border: 3px solid #8700FF;
    margin: 0;
    margin-bottom: 15px;
    border-radius: 5px;
    place-items: center;
    max-width: 800px;
    margin-inline: auto;
}

@media(max-width:1024px) {

    .post2{
        max-width: max-content;
    }

}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

@media(max-width:1024px) {

    .grid2 {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}

/* ------------------------------------------------- */

.contacts_list{
    list-style-type: none;
    padding-left: 15px;
}

.contacts_list li a{
    text-decoration: none;
    color: rgb(255, 255, 115);
}

footer{
    background: rgba(0, 0, 0, 0.479);
    text-align:left;
    padding: 40px;

}
