*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

    img {

        
    }

a {
    
    color: #8700FF;
}
.btn-link {
    text-decoration: none;
    border: 1px solid #8700FF;
    width: 100px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
}